doctype html
html
  head
    title Solar Form
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel="shortcut icon" href="images/solar_energy_panel_sun_ecology_icon_191917.ico")
  body
    .root
      img(class="solar-svg" src="images/image2vector.svg", alt="solar-svg")
      block content

      include footer