extends layout

block content

  form(class='upload-form' enctype="multipart/form-data" method='POST')
    lbael(for='upload-input' class='upload-label')
    input(type="file" id="myFile" name="filename")
    button(type='submit') submit