@import './layout.css';
@import './form.css';
@import './footer.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

*{
  box-sizing: border-box;
}




.root{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('../images/solar_patrick-pleul-picture-alliance-getty-2048x1391.jpg');
  padding: 5rem;
  gap: 1rem;
}


.solar-svg{
  max-height: 5rem;
}